<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🎲 Dice Game</title>
    <link href="/stylesheets/styles.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="bg-gradient-to-r from-fuchsia-700/30 to-green-400">
      <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-28">
          <div
            class="absolute inset-y-0 left-0 flex items-center sm:hidden"
          ></div>
          <div class="flex-1 flex items-center justify-center">
            <a href="/">
              <div class="flex-shrink-0 flex items-center">
                <img
                  class="block lg:hidden h-8 w-auto"
                  src="https://res.cloudinary.com/adev48/image/upload/v1652572560/Sofka%20Assets/Semana%204/dice_xxdudh.png"
                  alt="Workflow"
                />
                <img
                  class="hidden lg:block h-20 w-20"
                  src="https://res.cloudinary.com/adev48/image/upload/v1652572560/Sofka%20Assets/Semana%204/dice_xxdudh.png"
                  alt="Workflow"
                />
              </div>
            </a>

            <div class="hidden sm:block sm:ml-6">
              <div class="flex space-x-4">
                <a
                  href="/createGame"
                  class="text-white hover:bg-green-800 hover:text-white px-10 py-6 rounded-md text-sm font-medium"
                  aria-current="page"
                  >Create Game</a
                >

                <a
                  href="/error"
                  class="text-white hover:bg-green-800 hover:text-white px-10 py-6 rounded-md text-sm font-medium"
                  >Players</a
                >

                <a
                  href="/findGame"
                  class="text-white hover:bg-green-800 hover:text-white px-10 py-6 rounded-md text-sm font-medium"
                  >Find Game</a
                >

                <a
                  href="/games"
                  class="text-white hover:bg-green-800 hover:text-white px-10 py-6 rounded-md text-sm font-medium"
                  >Games</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="sm:hidden" id="mobile-menu">
        <div class="px-2 pt-2 pb-3 space-y-1">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          <a
            href="/createGame"
            class="text-gray-300 hover:bg-gray-800 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            aria-current="page"
            >Create Game</a
          >

          <a
            href="/error"
            class="text-gray-300 hover:bg-gray-800 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
          >
            Players</a
          >

          <a
            href="/findGame"
            class="text-gray-300 hover:bg-gray-800 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            >Find Game</a
          >

          <a
            href="/games"
            class="text-gray-300 hover:bg-gray-800 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            >Games</a
          >
        </div>
      </div>
    </nav>
    <div class="w-screen bg-gray-50 flex items-center">
      <p>El juego ha sido eliminado</p>
    </div>
  </body>
</html>
