<!DOCTYPE html>
<html lang="en">
  <title>Crear Juego</title>
  <link href="/stylesheets/styles.css" rel="stylesheet" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <body>
    <nav class="bg-gradient-to-r from-fuchsia-700/30 to-green-400">
      <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-28">
          <div
            class="absolute inset-y-0 left-0 flex items-center sm:hidden"
          ></div>
          <div class="flex-1 flex items-center justify-center">
            <a href="/">
              <div class="flex-shrink-0 flex items-center">
                <img
                  class="block lg:hidden h-8 w-auto"
                  src="https://res.cloudinary.com/adev48/image/upload/v1652572560/Sofka%20Assets/Semana%204/dice_xxdudh.png"
                  alt="Workflow"
                />
                <img
                  class="hidden lg:block h-20 w-20"
                  src="https://res.cloudinary.com/adev48/image/upload/v1652572560/Sofka%20Assets/Semana%204/dice_xxdudh.png"
                  alt="Workflow"
                />
              </div>
            </a>

            <div class="hidden sm:block sm:ml-6">
              <div class="flex space-x-4">
                <a
                  href="/createGame"
                  class="text-white hover:bg-green-800 hover:text-white px-10 py-6 rounded-md text-sm font-medium"
                  aria-current="page"
                  >Create Game</a
                >

                <a
                  href="/error"
                  class="text-white hover:bg-green-800 hover:text-white px-10 py-6 rounded-md text-sm font-medium"
                  >Players</a
                >

                <a
                  href="/games"
                  class="text-white hover:bg-green-800 hover:text-white px-10 py-6 rounded-md text-sm font-medium"
                  >Find Games</a
                >

                <a
                  href="/error"
                  class="text-white hover:bg-green-800 hover:text-white px-10 py-6 rounded-md text-sm font-medium"
                  >Winners</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="sm:hidden" id="mobile-menu">
        <div class="px-2 pt-2 pb-3 space-y-1">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          <a
            href="/createGame"
            class="text-gray-300 hover:bg-gray-800 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            aria-current="page"
            >Create Game</a
          >

          <a
            href="/error"
            class="text-gray-300 hover:bg-gray-800 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
          >
            Players</a
          >

          <a
            href="/games"
            class="text-gray-300 hover:bg-gray-800 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            >Find Games</a
          >

          <a
            href="/error"
            class="text-gray-300 hover:bg-gray-800 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            >Winners</a
          >
        </div>
      </div>
    </nav>
    <div
      class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
    >
      <div class="max-w-md w-full space-y-8">
        <div>
          <img
            class="mx-auto h-12 w-auto"
            src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
            alt="Workflow"
          />
          <h1 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            Create Game
          </h1>
        </div>
        <form class="mt-8 space-y-6" action="/createGame" method="POST">
          <div class="rounded-md shadow-sm -space-y-px">
            <h3 class="mt-6 text-center text-xl font-bold text-gray-900">
              Player 1
            </h3>
            <div>
              <label for="name1" class="sr-only">Name</label>
              <input
                id="name1"
                name="player1"
                type="text"
                autocomplete="given-name"
                required
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Name or Nickname"
              />
            </div>
            <!-- <div>
              <label for="gamers" class="sr-only">Age</label>
              <input
                id="gamers"
                name="gamers"
                type="text"
                autocomplete="given-age"
                required
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Age"
              />
            </div> -->
          </div>

          <div class="rounded-md shadow-sm -space-y-px">
            <h3 class="mt-6 text-center text-xl font-bold text-gray-900">
              Player 2
            </h3>
            <div>
              <label for="name2" class="sr-only">Name</label>
              <input
                id="name2"
                name="player2"
                type="text"
                autocomplete="given-name"
                required
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Name or Nickname"
              />
            </div>
            <!-- <div>
              <label for="gamers" class="sr-only">Age</label>
              <input
                id="gamers"
                name="gamers"
                type="text"
                autocomplete="given-age"
                required
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Age"
              />
            </div> -->
          </div>

          <div class="rounded-md shadow-sm -space-y-px">
            <h3 class="mt-6 text-center text-xl font-bold text-gray-900">
              Player 3
            </h3>
            <div>
              <label for="name3" class="sr-only">Name</label>
              <input
                id="name3"
                name="player3"
                type="text"
                autocomplete="given-name"
                required
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Name or Nickname"
              />
            </div>
            <!-- <div>
              <label for="gamers" class="sr-only">Age</label>
              <input
                id="gamers"
                name="gamers"
                type="text"
                autocomplete="given-age"
                required
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Age"
              />
            </div> -->
          </div>

          <div>
            <button
              type="submit"
              class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
              <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                <!-- Heroicon name: solid/lock-closed -->
                <!-- <svg -->
                <!-- class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                    clip-rule="evenodd"
                  />
                </svg> -->
              </span>
              Play
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="flex-shrink-0 flex items-center justify-center py-6">
      <img
        class="block lg:hidden h-40 w-40"
        src="https://res.cloudinary.com/adev48/image/upload/v1652573714/Sofka%20Assets/Semana%204/dices_tzeuva.png"
        alt="Workflow"
      />
      <img
        class="hidden lg:block h-40 w-40"
        src="https://res.cloudinary.com/adev48/image/upload/v1652573714/Sofka%20Assets/Semana%204/dices_tzeuva.png"
        alt="Workflow"
      />
    </div>
  </body>
</html>
