<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🎲 Dice Game</title>
    <link href="../public/styles.css" rel="stylesheet" />
  </head>
  <body class="bg-gradient-to-b from-cyan-400 to-cyan-50 h-screen">
    <%- include('components/header'); %>

    <div class="w-screen bg-gray-50 flex justify-center">
      <p><%= content %></p>
    </div>

    <div class="w-screen bg-gray-50 flex justify-center mt-10">
      <a
        href="/"
        class="px-5 inline py-3 text-sm font-medium leading-5 shadow-2xl text-white transition-all duration-400 border border-transparent rounded-lg focus:outline-none bg-green-600 active:bg-red-600 hover:bg-red-700"
        >back to homepage</a
      >
    </div>
    <%- include('components/footer'); %>
  </body>
</html>
