<div class="flex items-center justify-center py-4">
  <img
    class="block lg:hidden h-35 w-40"
    src="https://res.cloudinary.com/adev48/image/upload/v1652573714/Sofka%20Assets/Semana%204/dices_tzeuva.png"
    alt="Workflow"
  />
  <img
    class="hidden lg:block h-35 w-40"
    src="https://res.cloudinary.com/adev48/image/upload/v1652573714/Sofka%20Assets/Semana%204/dices_tzeuva.png"
    alt="Workflow"
  />
</div>
