<footer class="text-gray-600 body-font h-16">
  <div
    class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
  >
    <a
      class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
    >
      <img
        class="block h-8 w-auto"
        src="https://res.cloudinary.com/adev48/image/upload/v1653197493/Sofka%20Assets/Semana%204/dice_abqoaa.png"
        alt="Workflow"
      />
      <span class="ml-3 text-xl">Dices Game</span>
    </a>
    <p
      class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
    >
      © 2022 —
      <a
        href="https://github.com/nqs48"
        class="text-gray-600 ml-1"
        rel="noopener noreferrer"
        target="_blank"
        >Nestor Quiroga</a
      >
    </p>
    <span
      class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
    >
      <a
        href="https://github.com/nqs48"
        class="ml-3 text-gray-500"
        target="_blank"
      >
        <img
          class="h-6 w-6"
          src="https://res.cloudinary.com/adev48/image/upload/v1654218871/Logos/github_nijtj8.png"
          alt="image_GitHub"
        />
      </a>
      <a
        href="https://gitlab.com/nqs48"
        class="ml-3 text-gray-500"
        target="_blank"
      >
        <img
          class="h-6 w-6"
          src="https://res.cloudinary.com/adev48/image/upload/v1654219676/Logos/gitlab_jyo5qx.png"
          alt="image_GitLab"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/nqs48/"
        class="ml-3 text-gray-500"
        target="_blank"
      >
        <img
          class="h-6 w-6"
          src="https://res.cloudinary.com/adev48/image/upload/v1654219915/Logos/linkedin_iaoava.png"
          alt="image_LinkedIn"
        />
      </a>
    </span>
  </div>
</footer>
